{% extends "impl.j2" %}

{% block metainfo %}
<div class="head" role="metainfo" id="metainfo">
     <dl>
        <dt>Brondata</dt>
        <dd>
           <a href="https://github.com/Informatievlaanderen/OSLOthema-trajectcontrole/releases/tag/{{ data.metadata.branchtag }}">https://github.com/Informatievlaanderen/OSLOthema-trajectcontrole/releases/tag/{{ data.metadata.branchtag }}</a>
        </dd>
        <dt>Changelog</dt>
        <dd>
           <a href="{{ data.metadata.documentroot }}/resources/CHANGELOG.md">{{ data.metadata.documentroot }}/resources/CHANGELOG.md</a>
        </dd>
        <dt>Opmerkingen en feedback</dt>
        <dd>
           <a href="{{ data.metadata.feedbackurl }}">{{ data.metadata.feedbackurl }}</a>
        </dd>
        <dd>
           <a href="{{ data.metadata.standaardregisterurl }}">{{ data.metadata.standaardregisterurl }}</a>
        </dd>
        {% if data.metadata.dependencies %}
           <dt>Afhankelijkheden</dt>
           <dd>
              {% for dep in metadata.dependencies %}
                 <a href="{{ dep.packageurl }}">{{ dep.packagelabel }}</a>
              {% endfor %}
           </dd>
        {% endif %}
     </dl>
</div>
{% endblock %}

{% block summary %}
<p>
Het MAGDA-Voertuigregistraties Implementatiemodel is gebasseerd op <a href="https://www.eucaris.net/" target="_blank">Eucaris</a>,
de Europese standaard om voertuigregistraties uit te wisselen tussen lidstaten.
Voertuigregistraties laat toe om eigenaren, houders, en voertuigen uit te wisselen voor bijvoorbeeld handhaving doeleinden.
Dit implementatiemodel beperkt zich tot voertuigregistraties in het kader van handhaving zoals het uitschrijven van snelheidsboetes
bij trajectcontroles en andere automatische systemen die overtredingen kunnen vaststellen. De bevoegde diensten gebruiken
de uitgewisselde gegevens om de vaststelling om te zetten in een effectieve boete.
</p>
<p>
Het implementatiemodel gebruikt de vocabularia van <a href="https://data.vlaanderen.be/ns/persoon/" target="_blank">OSLO Persoon</a>
en <a href="https://data.vlaanderen.be/ns/organisatie/" target="_blank">OSLO Organisatie</a> om gegevens over de houder
en eigenaar van het voertuig uit te wisselen. Het voertuig zelf is herbruikt van <a href="https://schema.org/Vehicle" target="_blank">Schema.org</a>
waar alle relevante attributen over voertuigen zijn opgenomen die ook bij een registratie van een voertuig van toepassing zijn.
Generieker klassen zoals Registratie en Nummerplaat zijn opgenomen in een apart vocabularium omdat deze herbruik zijn
voor andere applicatieprofielen of implementatiemodellen.
</p>
{% endblock %}

{% block swagger %}
<p>
Een set van herbruikbare Swagger OpenAPI componenten voor dit implementatiemodel is terug te vinden op:
<a href="{{ data.metadata.documentroot }}/resources/swagger/components.yaml" target="_blank">{{ data.metadata.documentroot }}/resources/swagger/components.yaml</a>
</p>
<p>
Deze componenten zijn gebruikt in de MAGDA OpenAPI beschrijving van de Voertuigregistraties REST dienst, die hier terug te vinden is:
<a href="{{ data.metadata.documentroot }}/resources/swagger/MAGDA-Voertuigregistraties-REST-Swagger.yaml" target="_blank">{{ data.metadata.documentroot }}/resources/swagger/MAGDA-Voertuigregistraties-REST-Swagger.yaml</a>
</p>
{% endblock %}
